/*
    General
*/
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
body {
  margin: 0 0;
}

/*
    Navbar
*/

.nav_header {
  background: #306baf;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 2;
}

.nav_header::after {
  content: "";
  display: table;
  clear: both;
}

.nav_container {
  margin-left: 15em;
  margin-right: 15em;
}

.brand {
  padding: 2px 0;
  float: left;
}

.nav_link_ {
  color: white;
  transition: all ease-in-out 250ms;
}
.nav_link_:hover {
  color: rgba(243, 243, 243, 0.918);
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

.nav_link {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.nav_link:hover {
  color: rgba(243, 243, 243, 0.918);
}

.nav_link:hover::before {
  width: 100%;
}

.back_img {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.home_btn_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s ease-in-out all;
}

.home_btn_img:hover {
  background-color: black;
}

.home_btn_video {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s ease-in-out all;
}

.home_btn_video:hover {
  background-color: black;
}

/* Video View */
.videoView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoContainer {
  margin-top: 10px;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}
.video-btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;

  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  padding: 0.8rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.video-btn-danger {
  background: var(--danger-color);
  color: #fff;
}
.video-btn-success {
  background: var(--success-color);
  color: #fff;
}
